.project-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 18px;
  margin-bottom: 28px;
  transition: all 0.4s ease;
  position: relative;
}

.project-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(56, 189, 248, 0.25);
}

.project-card h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.project-card a {
  color: #38bdf8;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}

.project-card a:hover {
  text-decoration: underline;
}
