.project-card {
  background: #1e293b;
  padding: 28px;
  border-radius: 16px;
  margin-bottom: 24px;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(56, 189, 248, 0.25);
}

.project-card h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 18px;
}

/* button wrapper */
.project-actions {
  margin-top: 10px;
}

/* button style link */
.project-btn {
  display: inline-block;
  padding: 10px 18px;
  background: transparent;
  border: 2px solid #38bdf8;
  border-radius: 10px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.project-btn:hover {
  background: #38bdf8;
  color: #020617;
}
